#laravel-logo {
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 20px); }
    100%   { transform: translate(0, -0px); }
}

::-moz-selection {
    color: white;
    background-color: #facc15;
  }
  
  ::selection {
    color: white;
    background-color: #facc15;
  }

.bg-scribble::before {
  mask: url(./scribble.svg) repeat;
  mask-size: auto 100%;
  background-color: #ffeca1;
  content: "";
  height: 100%;
  left: 0;
  opacity: .9;
  position: absolute;
  top: 0;
  width: 100%;
}