<html class="h-full">
<head>
    <meta charset="utf-8">
</head>
<body class="h-full">
<main class="relative isolate min-h-full">
    <img src="https://images.unsplash.com/photo-1600924779117-927b4f81457d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-top">
    <div class="mx-auto max-w-7xl px-6 py-32 text-center sm:py-40 lg:px-8">
        <p class="text-base font-semibold leading-8 text-opacity-50">404</p>
        <h1 class="mt-4 text-3xl font-bold tracking-tight text-opacity-50 sm:text-5xl">Page not found</h1>
        <div class="mt-10 flex justify-center">
        <a href="https://laraveljutsu.net" class="text-sm font-semibold leading-7 text-opacity-50"><span aria-hidden="true">&larr;</span> Retour</a>
        </div>
    </div>
    </main>
    </body>
    </html>