<html class="h-full">
    <head>
        <meta charset="utf-8" />
    </head>
    <body class="h-full">
        <section class="bg-white">
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center">
                    <h1
                        class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-zinc-600"
                    >
                        404
                    </h1>
                    <p
                        class="mb-4 text-3xl tracking-tight font-bold text-zinc-600 md:text-4xl"
                    >
                        Quelque chose a foiré.
                    </p>
                    <p class="mb-4 text-lg font-light text-gray-500">
                        Désolé, mais la page demandée ne semble pas exister.
                    </p>
                    <div class="flex justify-center items-center">
                        <img src="/images/404.svg" alt="404" />
                    </div>
                    <a
                        href="/"
                        class="inline-flex text-white bg-zinc-600 hover:bg-zinc-800 focus:ring-4 focus:outline-none focus:ring-zinc-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4 transition duration-200 ease-in-out"
                        >Retourner sur le site</a
                    >
                </div>
            </div>
        </section>
    </body>
</html>
