---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
<head>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
<Header title={SITE_TITLE} />

<div class="bg-white">
	<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
	<div>
		<img src="/avatar.jpeg" alt="" class="my-10 aspect-[2/1] w-full max-w-lg rounded-2xl object-cover lg:mt-0 lg:max-w-none xl:row-span-2 xl:row-end-2">
		<p class="text-lg leading-8 text-gray-600">
			Je m'appelle Ludovic Guénet et je vis dans le Sud de la France. ☀️
		</p>
		<p class="text-lg leading-8 text-gray-600">
			Je suis autodidacte et ai créé Laravel Jutsu afin de partager mes connaissances et mon apprentissage en développement web.
		</p>
	</div>
	</div>
</div>

<Footer />
</body>
</html>
