---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<BaseHead title={SITE_TITLE + " | Me contacter"} description={SITE_DESCRIPTION} />
	</head>

	<body>	  
		<Header />

		<div class="mx-auto max-w-7xl px-6 lg:px-8 hidden" id="js-contact-error">		  
		</div>

		<div class="mx-auto max-w-7xl px-6 lg:px-8 hidden" id="js-contact-success">		  
		</div>

		<div class="bg-white mb-6 mt-12 lg:my-10">

			<div class="mx-auto max-w-7xl px-6 lg:px-8">
				<div class="mx-auto max-w-2xl lg:mx-0">
					<h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
						Formulaire <span class="text-yellow-400">de contact</span></h2>
					<p class="mt-6 text-base leading-7 text-gray-600">
						Développeur autodidacte spécialisé en Laravel et Vue, je partage ma passion sur <a href="https://www.youtube.com/@LaravelJutsu" class="text-yellow-400 transition ease-in-out duration-200 hover:text-yellow-500" target="_blank">Laravel Jutsu</a>.</p> 
						
						<p class="mt-6 text-base leading-7 text-gray-600">Mon équipe et moi sommes prêts à répondre à vos besoins en développement web, qu'il s'agisse d'e-commerce, de CRM, ou d'autres projets sur mesure. Contactez-moi pour discuter de vos besoins.</p>
				</div>
			</div>

			<div class="mx-auto max-w-7xl px-6 lg:px-8">
				<form class="mt-16 max-w-2xl mt-6">
					<div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
					  <div class="sm:col-span-2">
						<label for="email" class="block text-sm font-semibold leading-6 text-gray-900">Votre e-mail</label>
						<div class="mt-2.5">
						  <input type="email" name="email" id="js-contact-email" autocomplete="email" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-yellow-400 sm:text-sm sm:leading-6">
						</div>
					  </div>
					  <div class="sm:col-span-2">
						<label for="message" class="block text-sm font-semibold leading-6 text-gray-900">Message</label>
						<div class="mt-2.5">
						  <textarea name="message" id="js-contact-message" rows="4" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-yellow-400 sm:text-sm sm:leading-6"></textarea>
						</div>
					  </div>
					</div>
					<div class="mt-10">
					  <button type="button" class="block w-[150px] rounded-md bg-yellow-400 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm transition ease-in-out duration-200 hover:bg-yellow-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-400" id="js-contact-button">Envoyer</button>
					</div>
					<div class="g-recaptcha" data-sitekey="6Lcnt_goAAAAAAkEmXSG-WbtCqdhS_hgDvcpeoZj"></div>
				</form>
			</div>

		</div>

		<Footer />

		<script>
			import "../scripts/contact-form.ts";
		</script>
	</body>
</html>
