---
import HeaderLink from './HeaderLink.astro';
---

<header
	class="mx-auto max-w-7xl px-6 py-12 md:flex md:items-center justify-center lg:justify-between lg:px-8"
>
	<nav class="flex items-center justify-center py-3 space-x-3">
		<h2>
			<a href="/">
				<img src="/logo.png" alt="logo" class="w-6">
			</a>
		</h2>

		<HeaderLink href="/" class="text-sm">Accueil</HeaderLink>

		<HeaderLink href="/blog" class="text-sm">Blog</HeaderLink>

		<HeaderLink href="/about" class="text-sm">À propos</HeaderLink>
	</nav>
</header>