---
import HeaderLink from './HeaderLink.astro';
---

<header class="flex flex-col sm:flex-row justify-between mx-auto max-w-7xl px-6 pb-4 pt-16 sm:py-8 items-center lg:gap-x-10 lg:px-8 lg:py-10">
	<h2>
		<a href="/" class="flex items-center">
			<img src="/logo.png" alt="logo" class="w-5 mr-2">
			<span class="laravel-span font-extrabold">Laravel</span><span class="jutsu-span font-extrabold">Jutsu</span>
		</a>
	</h2>

	<nav class="flex items-center justify-center py-3 space-x-5">
		<HeaderLink href="/" class="text-sm transition ease-in-out duration-200 hover:text-yellow-400">Accueil</HeaderLink>

		<HeaderLink href="/blog" class="text-sm transition ease-in-out duration-200 hover:text-yellow-400">Blog</HeaderLink>

		<HeaderLink href="/contact" class="text-sm transition ease-in-out duration-200 hover:text-yellow-400">Me contacter</HeaderLink>
	</nav>
</header>