---
import HeaderLink from './HeaderLink.astro';
---
<div class="flex items-center justify-center gap-x-6 bg-yellow-500 px-6 py-2.5 sm:px-3.5">
	<p class="text-sm leading-6 text-white">
		<a href="https://youtu.be/YiiJeqMLOcw">
			<strong class="font-semibold">Les Capsules Laravel</strong><svg viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true"><circle cx="1" cy="1" r="1" /></svg>Un concept unique pour maîtriser les dimensions de Laravel&nbsp;<span aria-hidden="true">&rarr;</span>
		</a>
	</p>
</div>

<header
	class="mx-auto max-w-7xl px-6 py-12 md:flex md:items-center md:justify-between lg:px-8"
>
	<nav class="flex py-3 space-x-5">
		<h2>
			<a href="/">
				<img src="/logo.png" alt="logo" class="w-6">
			</a>
		</h2>
		<div class="space-x-1.5">
			<HeaderLink href="/" class="text-sm">Home</HeaderLink>
			<HeaderLink href="/blog" class="text-sm">Blog</HeaderLink>
			<HeaderLink href="/about" class="text-sm">About</HeaderLink>
		</div>
	</nav>
</header>