---
import HeaderLink from "./HeaderLink.astro";
---

<div
    class="sticky top-0 z-10 mb-16 px-4 py-5 ring-1 ring-zinc-950/5 backdrop-blur-md bg-white/90 supports-backdrop-blur:bg-white/90"
>
    <div
        class="mx-auto flex items-center justify-between px-2 sm:px-4 lg:max-w-6xl"
    >
        <div class="flex items-center gap-2 sm:gap-4">
            <a aria-label="Home" href="/">
                <img
                    src="/images/logo.svg"
                    class="flex size-9 items-center justify-center"
                />
            </a>
        </div>
        <div class="flex items-center gap-8">
            <HeaderLink
                href="/blog"
                class="text-sm/6 font-medium hover:text-lime-500 transition duration-200 ease-in-out"
            >
                Blog
            </HeaderLink>
        </div>
    </div>
</div>
