---
import HeaderLink from './HeaderLink.astro';
---

<header
	class="mx-auto max-w-7xl px-6 py-4 sm:py-8 lg:flex lg:items-center lg:gap-x-10 lg:px-8 lg:py-10"
>
	<nav class="flex items-center py-3 space-x-5">
		<h2>
			<a href="/">
				<img src="/logo.png" alt="logo" class="w-7">
			</a>
		</h2>

		<HeaderLink href="/" class="text-sm transition ease-in-out duration-200 hover:text-yellow-400">Accueil</HeaderLink>

		<HeaderLink href="/blog" class="text-sm transition ease-in-out duration-200 hover:text-yellow-400">Blog</HeaderLink>

		<HeaderLink href="/contact" class="text-sm transition ease-in-out duration-200 hover:text-yellow-400">Me contacter</HeaderLink>
	</nav>
</header>